
@{
    ViewBag.Title = "Index";
}

<h2>Project Manager Dashboard</h2>

<h3>
    @Html.ActionLink("Create a new project", "CreateAProject", "Admin")
</h3>

<h3>
    @Html.ActionLink("View all my projects", "AllProjectsByUser", "Admin")
</h3>

<h3>
    @Html.ActionLink("View all projects in the system", "AllProjects", "Admin")
</h3>

<h3>
    @Html.ActionLink("Assign user to a project", "AssignToProject", "Admin")
</h3>

<h3>
    @Html.ActionLink("UnAssign user from a project", "UnAssignFromProject", "Admin")
</h3>