@model Shadow.Models.Ticket
@{
    ViewBag.Title = "EditTicket";
}

<h2>Edit Ticket</h2>

@using (Html.BeginForm())
{
    @Html.Hidden("ticketId", Model.Id)
    <h4>Enter a new Title: </h4> @Html.TextBoxFor(model => model.Title)
    <h4>Enter a new Description: </h4> @Html.TextArea("description")
    <h4>Select ticket Status:</h4> @Html.DropDownList("ticketStatusId", new SelectList(ViewBag.TicketStatusList, "Id", "Name", "Id"))
    <h4>Select ticket Priority: </h4> @Html.DropDownList("ticketPrioritieId", new SelectList(ViewBag.TicketPrioritiesList, "Id", "Name", "Id"))
    <h4>Select ticket Type: </h4> @Html.DropDownList("ticketTypeId", new SelectList(ViewBag.TicketTypeList, "Id", "Name", "Id"))

    <input type="submit" name="Update" value="Update" />
}
