@model PagedList.IPagedList<Shadow.Models.Ticket>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "GetAllTickets";
}

<h2>All Tickets</h2>

Order By: <p style="display:inline">@Html.ActionLink("Order by Ascending", "GetAllTickets", new { sortingOrder = "OrderByAscending", currentFilter = ViewBag.CurrentFilter })</p> |
<p style="display:inline">@Html.ActionLink("Order by Descending", "GetAllTickets", new { sortingOrder = "OrderByDescending", currentFilter = ViewBag.CurrentFilter })</p>

@using (Html.BeginForm("GetAllTickets", "Submitters", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Updated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.ActionLink("Edit Ticket", "EditTicket", new { ticketId = item.Id }, null) |
                @Html.ActionLink("Add a Comment", "AddComment", new { ticketId = item.Id }, null)
                @if (item.TicketComments.Count != 0)
                {@Html.ActionLink("Show all comments", "ShowAllComments", new { ticketId = item.Id }, null)}
                | @Html.ActionLink("Add an Attachment", "AddAttachment", new { ticketId = item.Id }, null) | @if (item.TicketAttachements.Count != 0)
                {@Html.ActionLink("View all attachments", "ViewAllAttachments", new { ticketId = item.Id }, null)} 

                @Html.ActionLink("Show Ticket History", "TicketHistory", new { ticketId = item.Id }, null)
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetAllTickets",
    new { page, sortingOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))